main {
    background-color: dimgray;
}

header {
    background-color: tan
}


.gray {
    filter: grayscale(100%);
}

/* LOG */

#log {
    background-color: floralwhite;
}

#log .h1, #log .h2, #log .h3 {
    background-color: tan;
    padding: 2px 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 8px 0;
    text-align: center;
}

#log .h3 {
    background-color: lightgray;
}

#log .group { margin: 0 8px }
#log .group.h4 { text-align: center; padding: 0px; }
#log .group.h4.jp { background-color: hsl(0, 20%, 80%); }
#log .group.h4.ap { background-color: hsl(214, 30%, 80%); }
#log .group.jp { background-color: hsl(0, 20%, 90%) }
#log .group.ap { background-color: hsl(214, 30%, 90%) }

#log > .q {
    padding-left: 20px;
    font-style: italic;
    opacity: 75%;
}

#log > .i {
    padding-left: 20px;
}

#log .jp {
    background-color: lightpink;
}

#log .ap {
    background-color: lightblue;
}

#log .int {
    background-color: lightgreen;
}

#log > div { padding-left: 20px; text-indent: -12px; }
#log .h1 { font-weight: bold; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h2 { padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h3 { padding-top:1px; padding-bottom:1px; text-align: center; }

#log div.i { padding-left: 32px; text-indent: -12px; }
#log div.ii { padding-left: 44px; text-indent: -12px; }

#log div.bold { font-weight: bold }
#log div.italic { font-style: italic }

#log .card-tip {
    cursor: pointer;
    font-style: italic
}

#log .zone-tip {
    cursor: pointer;
    font-style: italic
}

#log .die {
    display: inline-block;
    vertical-align: -2px;
    width: 12px;
    height: 12px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    background-size: 600% 100%;
    background-repeat: no-repeat;
}


#chat_text .Japan {
    background-color: lightpink
}

#chat_text .Allies {
    background-color: lightblue
}

body.Japan header.your_turn {
    background-color: lightcoral;
}

body.Allies header.your_turn {
    background-color: lightsteelblue;
}

#role_Japan {
    background-color: lightcoral;
}

#role_Allies {
    background-color: lightsteelblue;
}

.card-tip {
    cursor: pointer;
    font-style: italic
}

/*#log .fm { background-color: lightblue; }*/
/*#log .gm { background-color: gainsboro; }*/
/*#log .fm.dark { background-color: steelblue; }*/
/*#log .gm.dark { background-color: dimgray; }*/
/*#log .dark { color: white; font-weight: bold; }*/

.d0 {
    background-position: -100% 0
}

.d1 {
    background-position: 0% 0;
}

.d2 {
    background-position: 20% 0;
}

.d3 {
    background-position: 40% 0;
}

.d4 {
    background-position: 60% 0;
}

.d5 {
    background-position: 80% 0;
}

.d6 {
    background-position: 100% 0;
}

/* PANELS */

.panel {
    background-color: #0002;
    margin: 12px;
}

.panel-head {
    background-color: #0002;
    text-align: center;
    font-weight: bold;
    color: white;
}

.panel-body {
    min-height: 380px;
    min-width: 248px;
}

#panels {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 2894px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    #panels {
        width: 2894px;
    }
}

#played .panel-body .card.barrage {
    margin-bottom: -194px;
}

#played_row {
    grid-row: 1;
}

body.Japan #jp_hand {
    grid-row: 2;
}

body.Japan #ap_hand {
    grid-row: 4;
}

body.Allies #ap_hand {
    grid-row: 2;
}

body.Allies #jp_hand {
    grid-row: 4;
}

#mapwrap.main {
    width: 2550px;
    height: 1650px;
}
#mapwrap.southpac {
    width: 1275px;
    height: 825px;
}
#mapwrap.burma {
    width: 1275px;
    height: 825px;
}
#mapwrap.main > #canvas {
    width: 2550px;
    height: 1650px;
}
#mapwrap.southpac > #canvas {
    width: 1275px;
    height: 825px;
}
#mapwrap.burma > #canvas{
    width: 1275px;
    height: 825px;
}

#canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#mapwrap.main > #map {
    width: 2550px;
    height: 1650px;
    background-image: url(images/map_eots.75.avif);
    background-size: 2550px 1650px;
}
#mapwrap.southpac > #map  {
    width: 1275px;
    height: 825px;
    background-image: url(images/map_south_pacific.75.avif);
    background-size: 1275px 825px;
}
#mapwrap.burma > #map  {
    width: 1275px;
    height: 825px;
    background-image: url(images/map_burma.75.avif);
    background-size: 1275px 825px;
}

@media (min-resolution: 97dpi) {
    #mapwrap.main > #map {
        background-image: url(images/map_eots.150.avif);
    }
}
@media (min-resolution: 97dpi) {
    #mapwrap.southpac > #map {
        background-image: url(images/map_south_pacific.150.avif);
    }
}
@media (min-resolution: 97dpi) {
    #mapwrap.burma > #map {
        background-image: url(images/map_burma.150.avif);
    }
}

/* TOOLTIPS */
/* #status - standard tooltip */
/* #tip - additional tooltip images */
/* #map_tip - additional tooltip image using map cutout */
/* #mobile_tip - special tooltip only used for cards, and only on mobile */

/* data-tooltip - behaves like title attribute attached to element */
/*#tip {*/
/*    pointer-events: none;*/
/*    position: fixed;*/
/*    z-index: 1000;*/
/*    margin: 6px;*/
/*}*/

.zoomed {
    transform: scale(2);
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    pointer-events: none;
    background-color: oldlace;
    border: 1px solid black;
    /*border-radius: 5px;*/
    padding: 0 5px;
    width: max-content;
    display: none;
    z-index: 100;
}

[data-tooltip]:hover:after {
    display: block;
}

span[data-tooltip]:after {
    top: 20px;
    left: 20px;
}

div[data-tooltip]:after {
    top: 20px;
    left: 5px;
}

/* CARDS */

.card {
    width: 250px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 1px 1px 4px #0004;
    transition: transform 100ms;
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.card.action {
    box-shadow: 0 0 0 3px yellow;
}

/* HEXES */

.zoi_hex {
	pointer-events: none;
	box-sizing: border-box;
	border-radius: 50%;
	z-index: -1;
}


.zoi_hex.jp { background-image: url(images/hex_zoi_jp.svg) }
.zoi_hex.ap { background-image: url(images/hex_zoi_ap.svg) }
.zoi_hex.contested { background-image: url(images/hex_zoi_contested.svg) }
.zoi_hex.lrb { background-image: url(images/hex_zoi_lrb.svg); opacity: 0.2 }
.zoi_hex.yellow { background-image: url(images/hex_zoi_yellow.svg);opacity: 1 }

.action_hex {
	box-sizing: border-box;
	border-radius: 50%;
	z-index: -100;
}

.action_hex.china_box {
	border-radius: 0;
}

body.hex-clickable .action_hex { z-index: 50; }

.action_hex.action { background-image: url(images/hex_action.svg); z-index: 50;}
.action_hex.violation { background-image: url(images/hex_violation.svg); z-index: 999;pointer-events: none;}
.action_hex.tip { background-image: url(images/hex_highlight.svg); z-index: 1000; pointer-events: none;}


.action_hex.china_box.action, .turn_box.action {
    border: 4px solid yellow;
    background-image: none;
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
    z-index: 100;
    box-sizing: border-box;
}

.action_hex.china_box.tip, .turn_box.tip {
    border: 4px solid lime;
    background-image: none;
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
    z-index: 100;
    box-sizing: border-box;
}

.s-loc {
    /*z-index: 3;*/
}

/* PIECES */


.piece.action, .marker.action {
    pointer-events: auto;
    border-color: yellow;
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
    /*box-shadow: 0 0 2px black, inset 0 0 2px black;*/
    border-width: 4px;
    /*box-shadow: 0 0 0 3px lime; border-color: #000;*/
    /*border-color: transparent;*/
    /*box-shadow: none;*/
    border-style: solid;
    /*box-sizing: border-box;*/
}

.transparent {
    border: none !important;
    opacity: 0.4;
}

.piece {
    border: 1px solid #182022a8;
}

.unit, .marker {
    border: 1px solid #182022a8;
    border-radius: 2px;
    box-shadow:
        0 2px 3px #0005,
        inset 0 1px 0 #fff5,
        inset 0 -1px 0 #0002;
    transition: left 200ms, top 200ms;
    position: absolute;
    /*background-size: auto 100%;*/
    background-repeat: no-repeat;
    /*border-radius: 5px;*/
    width: 35px;
    height: 35px;
    background-size: 35px 35px;

}

.unit::before, .marker:not(.road)::before, .icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(145deg, #fff2, transparent 45%, #0001);
    pointer-events: none;
}

.piece.big, .marker.big {
    width: 45px;
    height: 45px;
}

.marker.road {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.unit-tip {
    transition: left 200ms, top 200ms;
    background-repeat: no-repeat;
    /*border-radius: 5px;*/
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
}

.card > .big.marker {
    width: 90px;
    height: 90px;
    right: 10px;
    top: 10px;
}
.card > .big.unit_ix_4 {
    background-position-x:  -270px;
}
.card > .big.unit_ix_5 {
    background-position-x:  -360px;
}

/* MARKER IMAGES */
.big.unit_ix_2{ background-position-x:  -45px;}
.big.unit_ix_3{ background-position-x:  -90px;}
.big.unit_ix_4{ background-position-x:  -135px;}
.big.unit_ix_5{ background-position-x:  -180px;}
.big.unit_ix_6{ background-position-x:  -225px;}
.big.unit_ix_7{ background-position-x:  -270px;}
.big.unit_ix_8{ background-position-x:  -315px;}
.big.unit_ix_9{ background-position-x:  -360px;}
.big.unit_ix_10{ background-position-x:  -405px;}
.big.unit_ix_11{ background-position-x:  -450px;}
.big.unit_ix_12{ background-position-x:  -495px;}
.big.unit_ix_13{ background-position-x:  -540px;}
.big.unit_ix_14{ background-position-x:  -585px;}
.big.unit_ix_15{ background-position-x:  -630px;}
.big.unit_ix_16{ background-position-x:  -675px;}
.big.unit_ix_17{ background-position-x:  -720px;}
.big.unit_ix_18{ background-position-x:  -765px;}
.big.unit_ix_19{ background-position-x:  -810px;}
.big.unit_ix_20{ background-position-x:  -855px;}
.big.unit_ix_21{ background-position-x:  -900px;}
.big.unit_ix_22{ background-position-x:  -945px;}
.big.unit_ix_23{ background-position-x:  -990px;}
.big.unit_ix_24{ background-position-x:  -1035px;}
.big.unit_ix_25{ background-position-x:  -1080px;}
.big.unit_ix_26{ background-position-x:  -1125px;}
.big.unit_ix_27{ background-position-x:  -1170px;}
.big.unit_ix_28{ background-position-x:  -1215px;}
.big.unit_ix_29{ background-position-x:  -1260px;}
.big.unit_ix_30{ background-position-x:  -1305px;}
.big.unit_ix_31{ background-position-x:  -1350px;}
.big.unit_ix_32{ background-position-x:  -1395px;}

.reduced {
    background-position-y: -35px;
}

.unit_ix_1{ background-position-x:  0;}
.unit_ix_2{ background-position-x:  -35px;}
.unit_ix_3{ background-position-x:  -70px;}
.unit_ix_4{ background-position-x:  -105px;}
.unit_ix_5{ background-position-x:  -140px;}
.unit_ix_6{ background-position-x:  -175px;}
.unit_ix_7{ background-position-x:  -210px;}
.unit_ix_8{ background-position-x:  -245px;}
.unit_ix_9{ background-position-x:  -280px;}
.unit_ix_10{ background-position-x:  -315px;}
.unit_ix_11{ background-position-x:  -350px;}
.unit_ix_12{ background-position-x:  -385px;}
.unit_ix_13{ background-position-x:  -420px;}
.unit_ix_14{ background-position-x:  -455px;}
.unit_ix_15{ background-position-x:  -490px;}
.unit_ix_16{ background-position-x:  -525px;}
.unit_ix_17{ background-position-x:  -560px;}
.unit_ix_18{ background-position-x:  -595px;}
.unit_ix_19{ background-position-x:  -630px;}
.unit_ix_20{ background-position-x:  -665px;}
.unit_ix_21{ background-position-x:  -700px;}
.unit_ix_22{ background-position-x:  -735px;}
.unit_ix_23{ background-position-x:  -770px;}
.unit_ix_24{ background-position-x:  -805px;}
.unit_ix_25{ background-position-x:  -840px;}
.unit_ix_26{ background-position-x:  -875px;}
.unit_ix_27{ background-position-x:  -910px;}
.unit_ix_28{ background-position-x:  -945px;}
.unit_ix_29{ background-position-x:  -980px;}
.unit_ix_30{ background-position-x:  -1015px;}
.unit_ix_31{ background-position-x:  -1050px;}
.unit_ix_32{ background-position-x:  -1085px;}

.reduced.big, .reduced.big {
    background-position-y: -45px;
}

/* DIALOGS */

.modal-dialog {
    max-width: 450px;
    background-color: floralwhite;
}

.modal-dialog h3 {
    font-weight: bold;
    margin: 0;
}

.dialog {
    position: absolute;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 30px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 499;
}

.dialog.show {
    visibility: visible;
}

.dialog_header {
    grid-row: 1;
    grid-column: 1/3;
    cursor: move;
    background-color: tan;
    border-bottom: 1px solid black;
    padding: 5px 8px;
}

.dialog_x {
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
    margin: 5px 5px;
    height: 24px;
    text-align: right;
}

.dialog_x:hover {
    background-color: black;
    color: white;
}

.dialog_body {
    grid-row: 2;
    grid-column: 1/3;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    height: 480px;
    padding: 4px 8px;
    overflow-y: scroll;
    background-color: #F9EEDC; /* floralwhite was previous */
}

.dialog_body dl {
    margin: 0;
}

.dialog_body dd {
    margin-left: 20px;
}

.piece-tip { /* for text in log and dialogs */
    cursor: pointer;
    font-style: italic
}

.list-tip { /* for text in log and dialogs */
    cursor: pointer;
    font-weight: bolder;
}

.list-tip > * {
    pointer-events: none;
}

.piece.tip { /* highlight the piece itself */
    border: 4px solid lime;
    z-index: 100;
}

.hex-tip { /* for text in log and dialogs */
    cursor: pointer;
    font-style: italic
}

.board_hex.tip { /* highlight the piece itself */
    border: 4px dashed lime;
    z-index: 100;
}

.marker.conflict {
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /*pointer-events: auto;*/
}

.marker.battle.gray {
    background-color: gray;
}

.marker.battle {
    cursor: pointer;
    background-color: lawngreen;
}

.marker.landing {
    background-color: yellow;
}

.marker.distance {
    background-color: white;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 1.1;
    border: 3px solid black;
}

.unit > .marker {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    font-size: 15px;
    border: 1px solid black;
    right: 0;
    pointer-events: none;
}

.unit > .marker.barges_small {
    border-color: #1FC4F4;
    /*border: 1px solid gree;*/
}

.main_action {
    /*font-weight: bold;*/
}

.small_action {
    font-style: italic;
}

.battle_box {
    /*margin-right: 10px;*/
}

#battle_info > .dialog_body > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.icon {
    position: relative;
    display: inline-block;
    vertical-align: -12px;
    margin: 2px;
    border: 1px solid #1820228f;
    border-radius: 2px;
    box-shadow:
        0 2px 3px #0004,
        inset 0 1px 0 #fff5,
        inset 0 -1px 0 #0002;
    background-repeat: no-repeat;
    /*border-radius: 5px;*/
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
}
.icon.big {
    width: 45px;
    height: 45px;
}

.nation_info > dt {
    margin-left: 20px;
}

.d-piece{
    position: relative;
}

.unit-grid{
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px;
}

.unit-grid > div{
    margin: 5px;
}

.big-unit-grid{
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px;
}
